@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&family=Inter:wght@300;400;500;600&family=Oranienbaum&display=swap');

:root {
    --white-color: #fff;
    --black-color: #1F252D;
    --second-black-color: #25252C;
}

*,::before,::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Golos Text', sans-serif;
}

.header {
    background-image: url("../img/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    max-height: 80rem;
}

.logo a {
    color: var(--white-color);
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}

.container-large {
    max-width: 129.6rem;
    margin: 0 auto;
}

.container-small {
    max-width: 112.4rem;
    margin: 0 auto;
}

.header__nav {
    padding-top: 4.2rem;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    gap: 1.8rem;
    list-style: none;
}

.nav__list-link a {
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
}

.header__titles {
    margin-top: 30rem;
}

.header__overhead {
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.4rem;
}

.header__title {
    color: var(--white-color);
    font-weight: 700;
    font-size: 7.2rem;
}

.header__subtitle {
    color: var(--white-color);
    font-weight: 400;
    font-size: 2rem;
    margin-top: 1.2rem;
}

.header__btn {
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.4rem;
    background: var(--second-black-color);
    margin-top: 4.6rem;
    padding: 2.4rem 4.8rem;
    border-radius: 5.5rem;
    border: none;
}

.about {
    background-color: var(--black-color);
}

.about__logo {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
    opacity: 10%;
}

.about {
    display: flex;
    flex-direction: row;
}

.about__slider {
    display: flex;
    gap: 16rem;
}

.about__flex-container__left {
    margin-top: 34rem;
}

.slider__btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
}

.slider__btn {
    border: none;
    outline: none;
    background: none;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: var(--white-color);
    font-size: 2.4rem;
}

.slider__btn_active {
    font-weight: 600;
    font-size: 3.2rem;
}

.slider__btn_smaller {
    font-size: 1.8rem;
}

.about__flex-container__right {
    margin-top: 17rem;
    display: flex;
    flex-direction: column;
}

.about__flex-container__right img {
    width: 37.6rem;
    height: 21.2rem;
}

.slider__title {
    font-family: 'Oranienbaum', sans-serif;
    font-size: 5.6rem;
    color: var(--white-color);
    opacity: 0.8;
    font-weight: 400;
}

.about__info-text {
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 4.4rem;
}

.about__info {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    color: var(--white-color);
}

.estimate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 18.7rem;
}

.estimate__titles {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.estimate__title {
    font-family: 'Golos Text', sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--black-color);
}

.estimate__subtitle {
    font-family: 'Golos Text', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 113%;
}

.estimate__img {
    width: 75.3rem;
    height: 36.2rem;
}